<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<h3>Preparation</h3>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
<%= link_to 'Back', cocktails_path %>

